@model ComplexDataValidation.Models.Information

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Information</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" value=@ViewData["Id"] />
        <input type="hidden" asp-for="Submited" value="False" />
        <div class="form-group">
            <label asp-for="CreationDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Titile" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Titile" class="form-control" />
                <span asp-validation-for="Titile" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-area="" asp-controller="People" asp-action="Details" asp-route-id="@ViewData["PersonId"]">Back to Person</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
