@model ComplexDataValidation.Models.Credentials

<div class="row">
    <div class="col-sm-4">
        <div class="row bottom-margin">
            <label asp-for="Name" class="col-xs-6 display-label"></label>
            <div class="col-xs-6">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>
        <div class="row bottom-margin">
            <label asp-for="Age" class="col-xs-6 display-label"></label>
            <div class="col-xs-6">
                @Html.DisplayFor(model => model.Age)
            </div>
        </div>
    </div>
</div>