@model ComplexDataValidation.Models.Information

<div class="row">
    <div class="col-sm-4">
        <div class="row bottom-margin">
            <label asp-for="Titile" class="col-xs-6 display-label"></label>
            <div class="col-xs-6">
                @Html.DisplayFor(model => model.Titile)
            </div>
        </div>
        <div class="row bottom-margin">
            <label asp-for="CreationDate" class="col-xs-6 display-label"></label>
            <div class="col-xs-6">
                @Html.DisplayFor(model => model.CreationDate)
            </div>
        </div>
    </div>
</div>